
.body {
    margin:0px;
    padding: 0px;
    /* background-color: rgb(138, 138, 138); */
}

.body h1 {
    font-family: ns;
}
/* 
body {
    background-color: rgb(0, 0, 0);
} */
.login {
    color: gray;
}
.login:hover {
    color:#ffae00;
}

.regs {
    color: black;
    background-color: #ffae00;
}

.regs:hover{
    background-color: black;
    color: #ffae00;
}

.account {
    position: absolute;
    right: 30px;
}

.account img {
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

.account img:hover {
    border-bottom: 2px solid #ffae00;
}

.body {
    height: 100%;
    width: 100%;
}

.live-swaps {
    border-radius: 13px;
    overflow: hidden;
}

.live-swaps h1 {
    font-family: ns;
}
/* 
.header input {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 17px;
    color: black;
    padding-left: 0px;
    padding-right: 10px;
    width: 15%;
    padding: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 0px;
    border:0px;
    border-bottom: 2px solid black;
} */

.trade {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    animation: move 200s ease-out forwards;
    position: absolute;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 100%;
}

@keyframes move {
    from {top:-200px; opacity: 1;}
    to {top:10000px; opacity: 1;}
}

.trade img {
    height: 80px;
    width: 80px;
    border-radius: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 4px solid #ffae00;
}

.header {
    background-color: rgb(255, 255, 255);
}


.searchBox {
    position: absolute;
    top: -25px;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #ffae00;
    height: 40px;
    border-radius: 13px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 300px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: black;
  background-image: url('../assets/search_orange.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 7px;
  background-position-y: 7px;
  color : #ffae00;
}

.searchBox:hover > .searchButton img {
    /* background: black; */
    color : #ffae00;
  }

.searchButton {
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 13px;
    background-color: #e0d9c8;
    background-image: url('../assets/search.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: 3px solid black;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-family:ns;
    font-weight: bolder;
    font-size: 13px;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

.createOffer h2 {
    font-family: ETH;
}
.banner{
    border-top: 2px solid black;
}
.logo{
    height: 90px;
    width: 180px;
    color: black;
    background-image: url('../assets/bunker.png');
    background-size: 160px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-top: -10px;
}




.shopsForm {
    border: 3px solid black;
    border-radius: 20px;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    width: 300px;
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
    margin-top: 0px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 0px 50px rgb(165, 165, 165); */
    z-index: 1;
}
.shopsForm::-webkit-scrollbar {
    display: none;
  }
.shopsref{
    border-radius: 10px;
    border: 2px solid black;
}

.shopsref:hover{
    border: 2px solid #ffae00;

}

.shopsref:hover > h1{
    color: #ffae00;

}

*{
    --locked-color: black;
    --unlocked-color: #ffae00;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 400px; */
  }
.unlocked,
.lock {
    width: 21px;
    height: 18px;
    border: 3px solid var(--locked-color);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

.unlocked:after,
.lock:after {
content: "";
display: block;
background: var(--locked-color);
width: 3px;
height: 7px;
position: absolute;
top: 50%;
left: 50%;
margin: -3.5px 0 0 -2px;
-webkit-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
.unlocked:before,
.lock:before {
content: "";
display: block;
width: 10px;
height: 10px;
bottom: 100%;
position: absolute;
left: 50%;
margin-left: -8px;
border: 3px solid var(--locked-color);
border-top-right-radius: 50%;
border-top-left-radius: 50%;
border-bottom: 0;
-webkit-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}


/* Locked Hover */
.lock:hover:before {
height: 12px;
}
/* Unlocked */

.unlocked:before {
bottom: 130%;
left: 31%;
margin-left: -11.5px;
transform: rotate(-45deg);
}
.unlocked,
.unlocked:before {
border-color: var(--unlocked-color);
}
.unlocked:after {
background: var(--unlocked-color);
}
/* Unlocked Hover */
.unlocked:hover {
transform: rotate(3deg);
}
.unlocked:hover:before {
height: 10px;
left: 40%;
bottom: 124%;
transform: rotate(-30deg);
}

/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ffae00;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ffae00;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */
.testo{
    color: red;
}
.addstore{
    background-color: black;
}
.addstore p{
    color: #ffae00;
}
.addstore:hover{
    background-color: #ffae00;
}
.addstore:hover > p{
    color: black;
}
.default{
    /* overflow:hidden; */
    /* overflow: scroll; */
    -ms-overflow-style: none; 
    scrollbar-width: none;
    /* display: flex;
    overflow-y: scroll; */
}

.folders{
    /* padding-left: 30px;
    padding-right: 30px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    text-align: center;
    background-color: #ffffff;
  }
  
.folder {
flex-shrink: 0;
margin-top: 50px;
}

.bannerEdit{
    transition: height 0.25s ease-in;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.bannerEdit::-webkit-scrollbar {
    display: none;
    /* font-family: 'Courier New', Courier, monospace; */
  }

.side{
    transition: width 0.25s ease-in;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.side::-webkit-scrollbar {
    display: none;
    /* font-family: 'Courier New', Courier, monospace; */
  }

.text{
/* overflow: auto; */
transition: max-height 0.25s ease-in;
-ms-overflow-style: none; 
scrollbar-width: none;
}
.text::-webkit-scrollbar {
    display: none;
    /* font-family: 'Courier New', Courier, monospace; */
  }
/* .bannerdiv{
    transition: max-height 0.9s ease-in-out;
} */

.text p{
    color:black;
}
.text p:hover{
    color:#ffae00;
}

.HeightSlide{
    transition: height 0.25s ease-in;
}

.options{
    color:rgba(0,0,0,0.8);
}
.options:hover{
    color:#ff9900;
}
/* 
.font{
    color:'red';
}
.font:hover{
    color:'gray';
} */
.retractableBanner{
    transition: width 0.25s ease-in;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.retractableBanner::-webkit-scrollbar {
    display: none;
    /* font-family: 'Courier New', Courier, monospace; */
  }

.checkbox-wrapper-2 .ikxBAC {
appearance: none;
background-color: #dfe1e4;
border-radius: 72px;
border-style: none;
flex-shrink: 0;
height: 20px;
margin: 0;
position: relative;
width: 30px;
cursor: pointer;
}

.checkbox-wrapper-2 .ikxBAC::before {
bottom: -6px;
content: "";
left: -6px;
position: absolute;
right: -6px;
top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
background-color: #fff;
border-radius: 50%;
content: "";
height: 14px;
left: 3px;
position: absolute;
top: 3px;
width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
background-color: #c9cbcd;
transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
background-color: #ff9900;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
background-color: #fff;
left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
background-color: #ff9900;
}


input[type="color"] {
	-webkit-appearance: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

input{
    outline: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 14px;
    background: #c9cbcd00;
    outline: none;
    opacity: 1;
    border-radius: 20px;
  }
  
.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 14px;
height: 14px;
border-radius: 20px;
background: white;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 100%;
height: 100%;
background: #00000000;
cursor: pointer;
}

@keyframes blinking {
    50% {
      border-color: #ff9900;
      border-width: 2px;
    }
  }

:root {
--color1: #ff9900; /* DodgerBlue */
--color2: #000000;
--color3: white; /* OrangeRed */
--text-color1: #ffffff; /* White */
--text-color2: #000000; /* Black */
--slideWidth: 100%;
}

.striped-button {
position: relative;
background: repeating-linear-gradient(
    45deg,
    var(--color3),
    var(--color3) 10px,
    var(--color3) 10px,
    var(--color3) 20px
);
border: none;
color: var(--text-color2); /* Initial text color */
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
overflow: hidden;
transition: color 0.3s;
border:2px solid black
}

.striped-button::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
color: var(--text-color1); /* Text color for hover */
background: repeating-linear-gradient(
    45deg,
    var(--color2),
    var(--color2) 10px,
    var(--color1) 10px,
    var(--color1) 20px
);
transition: transform 0.3s;
transform: translateX(-100%);
z-index: 1;
}

.striped-button:hover::before {
transform: translateX(0);
}

.striped-button span {
position: relative;
z-index: 2;
}

.check-font{
    font-family: 'CustomSystemFont', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.addWidget{
    transition: left 0.25s ease-in-out;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slider img {
width: 100%;
height: auto;
transition: transform 0.5s ease; /* Adjust duration and easing as needed */
}

.slider img:hover {
transform: translateX(-50%); /* Adjust the distance to slide */
}

.dragdrop{
    border:2px dashed gray;
}
.dragdrop h1{
    color :rgba(0,0,0,0.9)
}
.dragdrop:hover h1{
    /* color:rgba(0,0,0,0.2) */
}

.dragdrop:hover{
    border:2px solid #ff9900;
}




.tree {
    position: relative;
    margin-left: 0px;
    padding-left: 20px;
}

.treebox {
    position: relative;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    z-index: 1;
    font-family: 'mb';
    box-sizing: border-box;
    cursor: pointer;
}

.tree::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    bottom: 0;
    width: 2px;
    background-color: rgb(74, 65, 52);
}

.tree > .treebox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    height: 50%;
    width: 2px;
    background-color: rgb(74, 65, 52);
}

.tree > .treebox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    height: 2px;
    width: 20px;
    background-color: rgb(74, 65, 52);
}


.tree::after {
    content: "";
    position: absolute;
    left: 1px;
    bottom: 0;
    width: 20px;
    height: 18px;
    background-color: transparent;
    border-top: rgb(74, 65, 52) 2px solid;
    border-left: #F6F3EF 2px solid;
}

.treebox:hover {
    border: 1px solid #f90;
    
}

.tree > .treebox:last-child::after {
    background-color: #F6F3EF;
    margin-top: 2px;
}

.draggable {
    position: absolute;
    width: 330px;
    height: 400px;
    background-color: #F6F3EF;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    user-select: none; /* Prevent text selection */
  }

  * {
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  /* For WebKit browsers (Chrome, Safari, etc.) */
  *::-webkit-scrollbar {
    display: none;
  }